# compiled output
/dist
/node_modules
/build
**/dist
**/node_modules
**/build
**/.expo
**/.expo-shared

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output
**/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env
!backend/.env
!backend/.env.example
!frontend/pakiAPPS-main-pakiapps-frontend-ver2/pakiapps-frontend/pakiship-fe/pakiship_mobile_fe-main/.env
!frontend/pakiAPPS-main-pakiapps-frontend-ver2/pakiapps-frontend/pakiship-fe/pakiship_mobile_fe-main/.env.example
!frontend/pakiAPPS-main-pakiapps-frontend-ver2/pakiapps-frontend/pakiship-fe/pakiship_mobile_fe-main/pakiShip_Login-main/.env
!frontend/pakiAPPS-main-pakiapps-frontend-ver2/pakiapps-frontend/pakiship-fe/pakiship_mobile_fe-main/pakiShip_Login-main/.env.example
!frontend/pakiAPPS-main-pakiapps-frontend-ver2/pakiapps-frontend/pakiship-fe/pakiship_mobile_fe-main/pakiShip_Signup-main/.env
!frontend/pakiAPPS-main-pakiapps-frontend-ver2/pakiapps-frontend/pakiship-fe/pakiship_mobile_fe-main/pakiShip_Signup-main/.env.example

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript incremental build
*.tsbuildinfo

# SonarCloud
.sonar/
.scannerwork/

# Replit
.replit-history
.breakpoints
